In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('helper_pkg/hpnlp_files/Ref_Term_Score.csv')
df

                    Term  Sentiment_Score Last_Update_Date
0               annoying           -1.722        12/6/2018
1            appropriate            1.008        12/6/2018
2              authentic            1.581        12/6/2018
3                 aweful           -1.947        12/6/2018
4          awful quality           -1.944        12/6/2018
..                   ...              ...              ...
942           never work           -2.000       10/31/2020
943     never consistent           -2.000        11/1/2020
944           never fail            2.148        11/2/2020
945   never disappointed            2.148        11/3/2020
946            worthless           -1.581        11/4/2020

[947 rows x 3 columns]

In [5]:
!pip install --no-cache-dir --force-reinstall dist/python_helper_library-0.0.1-py3-none-any.whl

Requirement already satisfied: python-helper-library==0.0.1 from file:///C:/Users/mehtac/Git%20Repositories/python_helper_libraries/dist/python_helper_library-0.0.1-py3-none-any.whl in c:\users\mehtac\appdata\local\continuum\anaconda3\lib\site-packages (0.0.1)

In [1]:
from helper_pkg import Helper
hlp = Helper()

In [4]:
hlp.analyse_df(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Term              947 non-null    object
 1   Sentiment_Score   947 non-null    float64
 2   Last_Update_Date  947 non-null    object
dtypes: float64(1), object(2)
memory usage: 22.3+ KB

None

            Term  Sentiment_Score Last_Update_Date
0       annoying           -1.722        12/6/2018
1    appropriate            1.008        12/6/2018
2      authentic            1.581        12/6/2018
3         aweful           -1.947        12/6/2018
4  awful quality           -1.944        12/6/2018

                    Term  Sentiment_Score Last_Update_Date
942           never work           -2.000       10/31/2020
943     never consistent           -2.000        11/1/2020
944           never fail            2.148        11/2/2020
945   never disappointed            2.148        11/3/2020
946            worthless           -1.581        11/4/2020

        Term  Sentiment_Score Last_Update_Date
count    947       947.000000              947
unique   947              NaN               50
top     chic              NaN        12/6/2018
freq       1              NaN              898
mean     NaN        -0.078621              NaN
std      NaN        46.377664              NaN
min      NaN     -1008.000000              NaN
25%      NaN        -1.581000              NaN
50%      NaN        -1.008000              NaN
75%      NaN         1.581000              NaN
max      NaN      1008.000000              NaN